html {    
    position: relative;
    min-height: 100%;
}

.background-menu {
    background-color: #080e1f;
}

.fundoPrincipal {
    background-color: #16324d;
}

body {
    background-image: url("../img/bg3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

.container {
    padding-bottom: 130px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 120px;
}

.toHome {
    opacity: 1;
}

.toHome:hover {
    opacity: 0.4;
}

.git { 
    opacity: 1;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
}

.git:hover {
    opacity: 0.4;
}

.logo {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    filter: grayscale(100%);
}

.logo:hover {
    filter: none;
}

.socialAnchor {
    text-decoration: none !important;
    margin-right: 5px;
    padding-right: 5px;
}

p > .text-justify {
    font-size: 30px;
}


.profile {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
}

.profileCard {
    padding: 10px;
}

.profileCard:hover {
    cursor: pointer;
}

.name {
    font-size: 24px;
}

.occupation {
    font-size: 16px;
}

.flag {
    float: right;
    font-size: 10px;
    color: #5DB0E6;
    
}

.profilePic {
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}

.cardContent {
    display: none;
}

p[class="text-justify"] {
    font-size: 16px;
}


