<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Carrossel Home</title>
  <link rel="icon" type="image/png" href="../../img/bg.png" />


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../js/javascript.js"></script>

    <!-- STYLES -->
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top background-menu">
    <div class="container-fluid background-menu">
      <div class="navbar-header background-menu">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html"><img class="toHome" src="../../img/buttonB.png" height="40px"/></a>
      </div>
      <div class="collapse navbar-collapse background-menu" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../sobre.html">Sobre Nós</a></li>
          <li><a href="../historia.html">História</a></li>
          <li><a href="../time.html">Time</a></li>
          <li class="active"><a href="../eventos.html">Eventos</a></li>
          <li><a href="../contato.html">Contato</a></li>
        </ul>
      </div>
    </div>
  </nav>
    
  <div class="container" style="padding-left: 50px; padding-right: 50px;">
    <br><br><br>
    <h2 style="width: 100%; padding-bottom: 3px; margin-bottom: 2px;">Conheça os países mais robotizados do mundo!</h2>
      <p>Data da postagem: 2 de abril, 18h01</p>
      <img src="post1_testimg.jpg" class="post-image" style="border: 0 solid #aaa;"/>
      <br>
      <br>
      <br>
      <p>
        Que a robótica está cada vez mais presente em nossas vidas não é dúvida para ninguém!
      </p>
      <p>
        Pensando nisso, a Veja fez uma lista com os dez países mais robotizados do mundo. Liderada pelos países asiáticos, a lista mostra uma média de robôs para cada dez mil funcionários da indústria.
      </p>
      <p>
        Vale a pena conferir 🤖
      </p>
      <br>
      <p>
        Link da matéria: <a>https://veja.abril.com.br/…/conheca-os-10-paises-mais-robo…/</a>
      </p>
      <br>
      <br>
      <br>
      <br>
      <br>
     

  </div>

  <footer class="container-fluid text-center background-menu" >
      <br />
      <a onclick="scroll(0,0)" style="cursor: pointer;color:White;text-decoration:none;">
        - Inicio -
      </a>
      <br/>
      <br/>
      <div class="row">
        <div class="col-sm-12 text-center">
            <a href="https://www.facebook.com/carrosselcaipirabauru/?ref=bookmarks" target="_blank" class="socialAnchor">
                <img src="../../img/facebook.png" title="Facebook" class="logo" />
            </a>

            <a href="#" target="_blank" class="socialAnchor">
                <img src="../../img/youtube.png" title="Youtube" class="logo" />
            </a>

            <a href="https://github.com/CarrosselCaipira" target="_blank" class="socialAnchor">
                <img src="../../img/github.png" title="Github" class="git" />
            </a>
        </div>
      </div>
      <br />
    </footer>
</body>
</html>
