<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Carrossel Home</title>
    <link rel="icon" type="image/png" href="../img/bg.png" />


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/javascript.js"></script>

    <!-- STYLES -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top background-menu">
    <div class="container-fluid background-menu">
      <div class="navbar-header background-menu">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html"><img class="toHome" src="../img/buttonB.png" height="40px"/></a>
      </div>
      <div class="collapse navbar-collapse background-menu" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="../index.html">Home</a></li>
          <li class="active"><a href="sobre.html">Sobre Nós</a></li>
          <li><a href="historia.html">História</a></li>
          <li><a href="time.html">Time</a></li>
<!--          <li><a href="eventos.html">Eventos</a></li>-->
          <li><a href="contato.html">Contato</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br>
  <div class="container">
    <img align="center" src="../img/logo2.png" alt="" width="300px"/>
    <p class="text-justify">
        A UNESP, campus de Bauru, participa de competições de futebol de robôs, na modalidade Very Small Size (atualmente IEEE Very Small), desde 1998, com a realização do 1º Campeonato Brasileiro de Futebol de Robôs – CBFR 98. A pesquisa e o desenvolvimento em futebol de robôs, atualmente pelo Grupo de Integração de Sistemas e Dispositivos Inteligentes (GISDI), mantém o objetivo de incentivar o uso de inovações tecnológicas, no campo da robótica, de baixo custo e com componentes encontrados no mercado nacional. Apesar de diversos períodos de ausência, o time de futebol da UNESP de Bauru é conhecido, desde a primeira edição desta competição no Brasil, como Carrossel Caipira devido sua estratégia de jogo. O projeto atual é a quinta versão, de robôs desenvolvidos para futebol de robôs, com aprimoramentos em relação ao time de 2015.
      </p>
      <p class="text-justify">
        No ambiente do futebol de robôs, nesta categoria,, os robôs e a bola são identificados através de uma câmera utilizada como visão global, posicionada a 2m sobre o campo e alinhada ao seu centro, que captura imagens da arena. Estas imagens são processadas digitalmente obtendo as coordenadas dos robôs e da bola. A partir dessas coordenadas, uma estratégia é escolhida e transformada em comandos que são enviados aos robôs por rádio. Os robôs recebem estes comandos e realizam as ações correspondentes, modificando a posição dos elementos presentes no ambiente real, que será capturado novamente pela câmera. A Fig. 1 apresenta uma ilustração do ambiente do futebol de robôs.
      </p>
      <br>
      <figure align="center" id="familia-pelho">
        <a href="https://mecatronicaatual.com.br/secoes/leitura/950" target="_blank">
            <img src="../img/exemplo.png" alt="" />
        </a>
        <figcaption><em>Figura 1. Ambiente para futebol de robôs</em></figcaption>
      </figure>
      <br><br>
      <p class="text-justify">
        O futebol robótico abrange diversas áreas do conhecimento. Na construção do robô são aplicados conceitos de mecânica, eletrônica e sistemas embarcados. Do ponto de vista do software, executado no computador pessoal, estão envolvidos elementos de processamento de imagens, inteligência artificial e teoria de controle. Essa abrangência faz desta modalidade de futebol uma ferramenta pedagógica com possíveis aplicações no ensino.
      </p>
      <p class="text-justify">
        Esse projeto busca incentivar e facilitar o desenvolvimento da robótica, para isso o artigo faz uma apresentação das tarefas realizadas, enfatizando a melhoria aplicada recentemente no simulador do ambiente para divulgar a eficiência obtida após essa modificação.
      </p>

  </div>
    <br><br>

  <footer class="container-fluid text-center background-menu" >
      <br />
      <a onclick="scroll(0,0)" style="cursor: pointer;color:White;text-decoration:none;">
        - Inicio -
      </a>
      <br/>
      <br/>
      <div class="row">
        <div class="col-sm-12 text-center">
            <a href="https://www.facebook.com/carrosselcaipirabauru/?ref=bookmarks" target="_blank" class="socialAnchor">
                <img src="../img/facebook.png" title="Facebook" class="logo" />
            </a>

            <a href="#" target="_blank" class="socialAnchor">
                <img src="../img/youtube.png" title="Youtube" class="logo" />
            </a>

            <a href="https://github.com/CarrosselCaipira" target="_blank" class="socialAnchor">
                <img src="../img/github.png" title="Github" class="git" />
            </a>
        </div>
      </div>
      <br />
    </footer>
</body>
</html>
