<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Carrossel Home</title>
  <link rel="icon" type="image/png" href="../img/bg.png" />


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../js/javascript.js"></script>

  <!-- STYLES -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top background-menu">
    <div class="container-fluid background-menu">
      <div class="navbar-header background-menu">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html"><img class="toHome" src="../img/buttonB.png" height="40px"/></a>
      </div>
      <div class="collapse navbar-collapse background-menu" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="../index.html">Home</a></li>
          <li><a href="sobre.html">Sobre Nós</a></li>
          <li><a href="historia.html">História</a></li>
          <li class="active"><a href="time.html">Time</a></li>
          <li><a href="eventos.html">Eventos</a></li>
          <li><a href="contato.html">Contato</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br>
  <div class="container">
    <h2>Nossa Equipe</h2>
    <h2 class="titulo">O time</h2>
    <p class="text-justify">
      A equipe de robótica Carrossel Caipira da UNESP-Bauru tem um importante papel na categoria VSS (Very Small Size) de futebol de robôs devido aos títulos conquistados, como o vice-campeonato da primeira competição da categoria em 1998, garantindo a vaga para disputar o campeonato mundial do mesmo ano na França. A partir de uma parceria entre POLI-USP e Carrossel Caipira, o time conhecido como Guaraná sagrou-se vice-campeão dessa edição. Nos anos seguintes, a equipe foi campeã no VI SBAI (Simpósio Brasileiro de Automação Inteligente) em 2003 e no VII SBAI em 2005.
    </p>
      
    <div id="team">
            <div class="profile">
                <div class="profileCard" value="1">
                   <img src="../img/equipe/daniloweber.jpg" class="profilePic">
                </div>
            </div>
            <div class="profile">
                <div class="profileCard" value="2">
                   <img src="../img/equipe/andreneves.jpg" class="profilePic">
                </div>
            </div>
            <div class="profile">
                <div class="profileCard" value="3">
                   <img src="../img/equipe/daniloweber.jpg" class="profilePic">
                </div>
            </div>
            <div class="profile">
                <div class="profileCard" value="4">
                   <img src="../img/equipe/izabelepizzo.jpg" class="profilePic">
                </div>
            </div>
            <div class="profile">
                <div class="profileCard" value="5">
                   <img src="../img/equipe/daniloweber.jpg" class="profilePic">
                </div>
            </div>
            <div class="profile">
                <div class="profileCard" value="6">
                   <img src="../img/equipe/jorgevicente.png" class="profilePic">
                </div>
            </div>
            <div class="profile">
                <div class="profileCard" value="7">
                   <img src="../img/equipe/luizuzai.jpg" class="profilePic">
                </div>
            </div>
            <div class="profile">
                <div class="profileCard" value="8">
                   <img src="../img/equipe/daniloweber.jpg" class="profilePic">
                </div>
            </div>
            <div class="profile">
                <div class="profileCard" value="9">
                   <img src="../img/equipe/marcelohideaki.jpg" class="profilePic">
                </div>
            </div>
            <div class="profile">
                <div class="profileCard" value="10">
                   <img src="../img/equipe/marcelonunez.jpg" class="profilePic">
                </div>
            </div>
            <div class="profile">
                <div class="profileCard" value="11">
                   <img src="../img/equipe/matheusviana.jpg" class="profilePic">
                </div>
            </div>
            <div class="profile">
                <div class="profileCard" value="12">
                   <img src="../img/equipe/paulomaia.jpeg" class="profilePic">
                </div>
            </div>
              <div class="profile">
                <div class="profileCard" value="13">
                   <img src="../img/equipe/rafaeltakagi.jpg" class="profilePic">
                </div>
            </div>
              <div class="profile">
                <div class="profileCard" value="14">
                   <img src="../img/equipe/rodneyrenato.jpg" class="profilePic">
                </div>
            </div>

            <div class="profile">
                <div class="profileCard" value="15">
                   <img src="../img/equipe/rodrigobueno.jpeg" class="profilePic">
                </div>
            </div>

            <div class="profile">
                <div class="profileCard" value="16">
                   <img src="../img/equipe/sergioguida.png" class="profilePic">
                </div>
            </div>

              <div class="profile">
                <div class="profileCard" value="17">
                   <img src="../img/equipe/thiagomochetti.jpg" class="profilePic">
                </div>
            </div>
        
        </div>
    </div>
    <br><br>

      <footer class="container-fluid text-center background-menu" >
          <br />
          <a onclick="scroll(0,0)" style="cursor: pointer;color:White;text-decoration:none;">
            - Inicio -
          </a>
          <br/>
          <br/>
          <div class="row">
            <div class="col-sm-12 text-center">
                <a href="https://www.facebook.com/carrosselcaipirabauru/?ref=bookmarks" target="_blank" class="socialAnchor">
                    <img src="../img/facebook.png" title="Facebook" class="logo" />
                </a>

                <a href="#" target="_blank" class="socialAnchor">
                    <img src="../img/youtube.png" title="Youtube" class="logo" />
                </a>

                <a href="https://github.com/CarrosselCaipira" target="_blank" class="socialAnchor">
                    <img src="../img/github.png" title="Github" class="git" />
                </a>
            </div>
          </div>
          <br />
    </footer>
</body>
</html>
