<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Carrossel Home</title>
  <link rel="icon" type="image/png" href="../img/bg.png" />


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../js/javascript.js"></script>

  <!-- STYLES -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top background-menu">
    <div class="container-fluid background-menu">
      <div class="navbar-header background-menu">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../index.html"><img class="toHome" src="../img/buttonB.png" height="40px"/></a>
      </div>
      <div class="collapse navbar-collapse background-menu" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="../index.html">Home</a></li>
          <li><a href="sobre.html">Sobre Nós</a></li>
          <li><a href="historia.html">História</a></li>
          <li class="active"><a href="time.html">Time</a></li>
          <li><a href="eventos.html">Eventos</a></li>
          <li><a href="contato.html">Contato</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br>
  <div class="container">
    <h2>Nossa Equipe</h2>
    <h2 class="titulo">O time</h2>
    <p class="text-justify">
      A equipe de robótica Carrossel Caipira da UNESP-Bauru tem um importante papel na categoria VSS (Very Small Size) de futebol de robôs devido aos títulos conquistados, como o vice-campeonato da primeira competição da categoria em 1998, garantindo a vaga para disputar o campeonato mundial do mesmo ano na França. A partir de uma parceria entre POLI-USP e Carrossel Caipira, o time conhecido como Guaraná sagrou-se vice-campeão dessa edição. Nos anos seguintes, a equipe foi campeã no VI SBAI (Simpósio Brasileiro de Automação Inteligente) em 2003 e no VII SBAI em 2005.
    </p>
      
    <div class="profile">
        <div class="profileCard">
            <img src="../img/danilo.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">Alisson Mota</span><br>
            <span class="occupation">Software</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Danilo Weber Nunes está cursando o segundo ano de ciência da computação e é estreante no Carrossel Caipira. Integrante da equipe de software do time, atualmente está trabalhando na área do controle dos robôs junto a esse que vos fala (esse é você Doreto hahahaahha) lutando para que os robôs realizem os movimentos da maneira mais precisa possível.
            </p>
        </div>
    </div>
    <div class="profile">
        <div class="profileCard">
            <img src="../img/danilo.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">André Neves</span><br>
            <span class="occupation">Hardware</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Danilo Weber Nunes está cursando o segundo ano de ciência da computação e é estreante no Carrossel Caipira. Integrante da equipe de software do time, atualmente está trabalhando na área do controle dos robôs junto a esse que vos fala (esse é você Doreto hahahaahha) lutando para que os robôs realizem os movimentos da maneira mais precisa possível.
            </p>
        </div>
    </div>
    <div class="profile">
        <div class="profileCard">
            <img src="../img/danilo.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">Danilo Weber</span><br>
            <span class="occupation">Gestão</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Danilo Weber Nunes está cursando o segundo ano de ciência da computação e é estreante no Carrossel Caipira. Integrante da equipe de software do time, atualmente está trabalhando na área do controle dos robôs junto a esse que vos fala (esse é você Doreto hahahaahha) lutando para que os robôs realizem os movimentos da maneira mais precisa possível.
            </p>
        </div>
    </div>
    <div class="profile">
        <div class="profileCard">
            <img src="../img/danilo.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">Izabele Pizzo</span><br>
            <span class="occupation">Pesquisa</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Danilo Weber Nunes está cursando o segundo ano de ciência da computação e é estreante no Carrossel Caipira. Integrante da equipe de software do time, atualmente está trabalhando na área do controle dos robôs junto a esse que vos fala (esse é você Doreto hahahaahha) lutando para que os robôs realizem os movimentos da maneira mais precisa possível.
            </p>
        </div>
    </div>
    <div class="profile">
        <div class="profileCard">
            <img src="../img/danilo.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">João Comini</span><br>
            <span class="occupation">Software</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Danilo Weber Nunes está cursando o segundo ano de ciência da computação e é estreante no Carrossel Caipira. Integrante da equipe de software do time, atualmente está trabalhando na área do controle dos robôs junto a esse que vos fala (esse é você Doreto hahahaahha) lutando para que os robôs realizem os movimentos da maneira mais precisa possível.
            </p>
        </div>
    </div>
    <div class="profile">
        <div class="profileCard">
            <img src="../img/danilo.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">Jorge Vicente</span><br>
            <span class="occupation">Pesquisa</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Danilo Weber Nunes está cursando o segundo ano de ciência da computação e é estreante no Carrossel Caipira. Integrante da equipe de software do time, atualmente está trabalhando na área do controle dos robôs junto a esse que vos fala (esse é você Doreto hahahaahha) lutando para que os robôs realizem os movimentos da maneira mais precisa possível.
            </p>
        </div>
    </div>
    <div class="profile">
        <div class="profileCard">
            <img src="../img/danilo.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">Luiz Uzai</span><br>
            <span class="occupation">Pesquisa</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Danilo Weber Nunes está cursando o segundo ano de ciência da computação e é estreante no Carrossel Caipira. Integrante da equipe de software do time, atualmente está trabalhando na área do controle dos robôs junto a esse que vos fala (esse é você Doreto hahahaahha) lutando para que os robôs realizem os movimentos da maneira mais precisa possível.
            </p>
        </div>
    </div>
    <div class="profile">
        <div class="profileCard">
            <img src="../img/danilo.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">Lumary Dinalle</span><br>
            <span class="occupation">Comunicação</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Danilo Weber Nunes está cursando o segundo ano de ciência da computação e é estreante no Carrossel Caipira. Integrante da equipe de software do time, atualmente está trabalhando na área do controle dos robôs junto a esse que vos fala (esse é você Doreto hahahaahha) lutando para que os robôs realizem os movimentos da maneira mais precisa possível.
            </p>
        </div>
    </div>
    <div class="profile">
        <div class="profileCard">
            <img src="../img/danilo.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">Marcelo Hideaki</span><br>
            <span class="occupation">Pesquisa</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Danilo Weber Nunes está cursando o segundo ano de ciência da computação e é estreante no Carrossel Caipira. Integrante da equipe de software do time, atualmente está trabalhando na área do controle dos robôs junto a esse que vos fala (esse é você Doreto hahahaahha) lutando para que os robôs realizem os movimentos da maneira mais precisa possível.
            </p>
        </div>
    </div>
    <div class="profile">
        <div class="profileCard">
            <img src="../img/danilo.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">Marcelo Nuñez</span><br>
            <span class="occupation">Software</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Danilo Weber Nunes está cursando o segundo ano de ciência da computação e é estreante no Carrossel Caipira. Integrante da equipe de software do time, atualmente está trabalhando na área do controle dos robôs junto a esse que vos fala (esse é você Doreto hahahaahha) lutando para que os robôs realizem os movimentos da maneira mais precisa possível.
            </p>
        </div>
    </div>
    <div class="profile">
        <div class="profileCard">
            <img src="../img/carla.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">Matheus Viana</span><br>
            <span class="occupation">Hardware</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Carla é bacharel em Engenharia de Controle de Automação pela Unip e atualmente é aluna do 2° ano de Física da Unesp/Bauru. Novata na Equipe Carrossel Caipira é atuante no Time Gestão com o propósito de divulgar a equipe e buscar parcerias. Seu lema de vida é "... preferir a derrota prévia a dúvida da vitória, é desperdiçar a oportunidade de merecer".
            </p>
        </div>
    </div>
    <div class="profile">
        <div class="profileCard">
            <img src="../img/everton.png" class="profilePic" width="60px" height="60px">
            <span class="name">Paulo Maia</span><br>
            <span class="occupation">Pesquisa</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Everton Kelvin Francisco está cursando o último ano de Sistemas de Informação e está em seu terceiro ano de participação no Carrossel Caipira. É técnico em Automação Industrial, o que o levou a iniciar seus trabalhos colaborando com a área de hardware para construir os robôs, desde então se empenha em busca do crescimento e sucesso do Carrossel. Atualmente gerencia toda a equipe e desenvolve o novo simulador para o time de futebol de robôs. Confia na competência dos integrantes e acredita que o talento de cada membro contribuindo para o interesse coletivo trará muitas conquistas para o time.
            </p>
        </div>
    </div>
      <div class="profile">
        <div class="profileCard">
            <img src="../img/everton.png" class="profilePic" width="60px" height="60px">
            <span class="name">Rafael Takagi</span><br>
            <span class="occupation">Software</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Everton Kelvin Francisco está cursando o último ano de Sistemas de Informação e está em seu terceiro ano de participação no Carrossel Caipira. É técnico em Automação Industrial, o que o levou a iniciar seus trabalhos colaborando com a área de hardware para construir os robôs, desde então se empenha em busca do crescimento e sucesso do Carrossel. Atualmente gerencia toda a equipe e desenvolve o novo simulador para o time de futebol de robôs. Confia na competência dos integrantes e acredita que o talento de cada membro contribuindo para o interesse coletivo trará muitas conquistas para o time.
            </p>
        </div>
    </div>
      <div class="profile">
        <div class="profileCard">
            <img src="../img/everton.png" class="profilePic" width="60px" height="60px">
            <span class="name">Rodney Souza</span><br>
            <span class="occupation">Software</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Everton Kelvin Francisco está cursando o último ano de Sistemas de Informação e está em seu terceiro ano de participação no Carrossel Caipira. É técnico em Automação Industrial, o que o levou a iniciar seus trabalhos colaborando com a área de hardware para construir os robôs, desde então se empenha em busca do crescimento e sucesso do Carrossel. Atualmente gerencia toda a equipe e desenvolve o novo simulador para o time de futebol de robôs. Confia na competência dos integrantes e acredita que o talento de cada membro contribuindo para o interesse coletivo trará muitas conquistas para o time.
            </p>
        </div>
    </div>
    
    <div class="profile">
        <div class="profileCard">
            <img src="../img/rodrigo.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">Rodrigo Bueno</span><br>
            <span class="occupation">Software</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Rodrigo Bueno Rodrigues é aluno do segundo ano de Ciências da Computação da Unesp/Bauru. Novo no time do Carrossel na parte de software, procura ter novas ideias e aprender novas técnicas para aprimorar o time, e acredita que a contribuição e parceria de todos no time trará progresso . Atualmente está trabalhando na área de controle onde procura uma nova forma de direcionar os robôs para chute a gol.
            </p>
        </div>
    </div>
      
    <div class="profile">
        <div class="profileCard">
            <img src="../img/thiago.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">Sergio Guida</span><br>
            <span class="occupation">Hardware</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Thiago Mochetti cursa eletrônica pelo colégio técnico da Unesp/Bauru. Entrou no Carrossel Caipira em mais uma das obras do destino, mas mantém-se firme na área de hardware do projeto. É o integrante mais jovem da equipe e faz uso disso para descontrair e motivar o pessoal.
            </p>
        </div>
    </div>
      
      <div class="profile">
        <div class="profileCard">
            <img src="../img/thiago.jpg" class="profilePic" width="60px" height="60px">
            <span class="name">Thiago Mochetti</span><br>
            <span class="occupation">Hardware</span>
        </div>
        <div>
            <p class="cardContent text-justify">
              <br>
              Thiago Mochetti cursa eletrônica pelo colégio técnico da Unesp/Bauru. Entrou no Carrossel Caipira em mais uma das obras do destino, mas mantém-se firme na área de hardware do projeto. É o integrante mais jovem da equipe e faz uso disso para descontrair e motivar o pessoal.
            </p>
        </div>
    </div>
    
        

      <br><br>
    </div>

      <footer class="container-fluid text-center background-menu" >
          <br />
          <a onclick="scroll(0,0)" style="cursor: pointer;color:White;text-decoration:none;">
            - Inicio -
          </a>
          <br/>
          <br/>
          <div class="row">
            <div class="col-sm-12 text-center">
                <a href="https://www.facebook.com/carrosselcaipirabauru/?ref=bookmarks" target="_blank" class="socialAnchor">
                    <img src="../img/facebook.png" title="Facebook" class="logo" />
                </a>

                <a href="#" target="_blank" class="socialAnchor">
                    <img src="../img/youtube.png" title="Youtube" class="logo" />
                </a>

                <a href="https://github.com/CarrosselCaipira" target="_blank" class="socialAnchor">
                    <img src="../img/github.png" title="Github" class="git" />
                </a>
            </div>
          </div>
          <br />
    </footer>
</body>
</html>
